<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Hashisoma Tribune - {{title}}</title>
     {% else %}
       <title>Hashisoma Tribune</title>
    {% endif %}


    {%%}
      {% bootstrap_css%}
</head>
<body>
{% block content%} <h1 class="text-center">News for {{date|date:"1 d-F Y"}}</h1> {%endblock%}
</body>
</html>